* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  background-color: #1f2937;
  color: white;
}
a {
  color: #3882f6;
}
nav {
  color: #f9faf8;
  font-size: 18px;
  margin-right: 40px;
  gap: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
h4 {
  font-size: 24px;
  padding-top: 50px;
  color: #f9faf8;
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex: 1;
}
.placeholder {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 250px;
  background-color: gray;
}
#container {
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#hero {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-self: center;
}
#sent {
  margin-left: 25px;
  margin-bottom: 0px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
button {
  width: 100px;
  height: 50px;
  background-color: #3882f6;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
.wrapper {
  position: absolute;
  bottom: 5%;
  width: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info {
  background-color: white;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 35px;
}
.image {
  border: 5px solid #3882f6;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
}
.sub {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
#text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  margin-left: 185px;
}
#text-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  margin-left: 10px;
}
#text-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
}
#text-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  margin-right: 150px;
}
.quote {
  margin-top: 40px;
  padding: 30px;
  background-color: #e5e7eb;
}
.quote-txt {
  color: #1f2937;
  font-style: italic;
  font-weight: 300;
  width: 789px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 350px;
  margin-left: 40px;
}
#txt {
  font-size: 36px;
}
.person {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 200px;
}
